*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}

body{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(190, 245, 127, 1) 16%, rgba(123, 214, 255, 1) 92%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;    

}

.container{
    width: 90vw;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    color: #1a0471ef;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
}

.display-container{
    position: relative;
    background-color: rgb(94, 141, 25);
    border-radius: 1rem;
    border-bottom: 0.35rem solid lightgreen;
    margin: 1rem 0;
    padding-top: 0.35rem;

}

.display {
    width: 100%;
    background-color: transparent;
    padding: 1.15rem 1rem;
    color: #042469ef;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    padding-right: 3.25rem; 
    border: none;
}

.display::placeholder{
    position: absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height: 30px;
    color: rgb(238, 250, 5);
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.display-container button{
    position: absolute;
    top: 50%;
    right: 1.5rem;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    outline: none;
    
}

.tooltip {

    position: absolute;
    background-color: rgb(94, 141, 25);
    color:rgb(238, 250, 5);
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 10px;
    border: 1px solid black;
    border-radius: 1rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
    
    }

.tooltip.active {
    opacity: 1;
    transform: scale(1);
    }

.input-container{
    width: 100%;
    border-radius: 1rem;
    padding: 2rem;
    background-color: rgb(94, 141, 25);
    border-bottom: 0.35rem solid lightgreen;

}

.length-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.length-container p:nth-child(1){
    color: #d5dce1ef;
    font-size: 1.5rem;
}

.length-container p:nth-child(2){
    color: rgb(238, 250, 5);
    font-size: 1.5rem;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.strength-container p{
    color: #d5dce1ef;
    font-size: 1.5rem;
}
.indicator{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.generateBtn{
    width: 100%;
    padding: 1rem 0;
    background-color: rgb(238, 255, 105);
    text-align: center;
    border-radius: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #142535ef;
    font-weight: 600;
    font-size: 1.25rem;
}

.checkb input{
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 0.35rem;
    margin: 0.05rem;;
}

.checkb input:checked{
    background-color: rgb(238, 255, 105);
}

.checkb input:checked::before{
    content: '✓';
    position: absolute;
    color: rgb(5, 70, 251);
    font-size: 1.05rem;
    font-weight: 600;
    left: 50%;
    top: 0rem;
    transform:translateX(-40%) translateY(-10%);

}

.checkb label{
    color: #d5dce1ef;
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}

.slider{
    appearance: none;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background-color:rgb(238, 255, 105);
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    
}

.slider::-webkit-slider-thumb{
    position: relative;
    appearance: none;
    height: 2rem;
    width: 2rem;
    border-radius: 50%;
    border: 1px solid black;
    cursor: pointer;
    background-color:#d5dce1ef;
    margin-top: px;
    transition: all 100ms ease-in;
}
.slider:focus{
    outline: 3px solid #d5dce1ef;
}
